{% extends 'adminBase.html' %}

{% load staticfiles %}

{% block AdminBaseContent %}

<div class="jumbotron">
  <h3 class="display-5">Welcome to Darul Uloom Alimia Jamda Shahi Admin Page</h3>
</div>
<hr class="my-4">

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Jammst</th>
      <th scope="col">Total Students</th>
      <th scope="col">Sudents in Hostel</th>
      <th scope="col">Session Year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Aidadiya</th>
      <td>100</td>
      <td>60</td>
      <td>2019-2020</td>
    </tr>
    <tr>
      <th scope="row">OOla</th>
      <td>100</td>
      <td>60</td>
      <td>2019-2020</td>
    </tr>
    <tr>
      <th scope="row">Saniya</th>
      <td>100</td>
      <td>60</td>
      <td>2019-2020</td>
    </tr>
  </tbody>
</table>

{% endblock %}
